.container{
    background-color:lightyellow;
    border-radius: 10px;
    border-color: lightslategray;
    text-align: center;
    width: 30%;
    margin: 10px auto 20px auto;
}
.rating{
    position: absolute;
    margin-left: 10%;
}
img{
    width: 90%;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
}